body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #F0F0F0;
    position: relative;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: background-color 0.3s ease;
    color: #707070;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/image/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -1;
}
body.dark {
    background-color: #18191a;
    color: #ccc;
}
.icon.sun {
    display: none;
}

body.dark .icon.moon {
    display: none;
}
body.dark .icon.sun {
    display: inline-block;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lmlogo {
    width: 60px;
    height: 60px;
}

.sidebar {
    background: #fff;
    transition: width 0.3s ease;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.sidebar.closed {
    width: 80px;
}

.sidebar.open {
    width: 250px;
}

.sidebar .menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .menu-links li {
    font-size: 19 px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.sidebar .menu-links li a {
    text-decoration: none;
    color: #707070;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar .menu-links li a .text {
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar .menu-links li a:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar .menu-links li a:hover i {
    color: white;
}

.sidebar .menu-links li a:hover .text {
    color: white;
}
.sidebar.closed .menu-links li a {
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
}

.sidebar.closed .menu-links li a i {
    display: inline-block;
    text-align: center;
}

.sidebar.closed .menu-links li a .text {
    opacity: 0;
    pointer-events: none;
}
.sidebar.closed .menu-links li a:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    color: #695CFE;
}
#toggle-icon {
    transition: transform 0.3s ease;
}

.home {
    margin-left: 230px;
    transition: margin-left 0.3s ease;
}

.sidebar.closed ~ .home {
    margin-left: 80px;
}
.sectionkepernyo {
    margin-left: 50px;
    margin-right: 50px;
}
.lmlogo {
    border: 2px solid grey;
    border-radius: 5px;
    margin : 5px;
}

.sidebar.closed .menu-links li .icon.sun {
    display: none;
}

.sidebar.closed .menu-links li .icon.moon {
    display: inline-block;
}

body.dark .sidebar.closed .menu-links li .icon.sun {
    display: inline-block;
}

body.dark .sidebar.closed .menu-links li .icon.moon {
    display: none;
}


.sidebar li.dark-mode-toggle,
.sidebar li.logout {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.sidebar li.dark-mode-toggle {
    bottom: 60px;
}

.modal {
color: black;
}

.container {
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 4px 4px;
}






