 .table {
         border-radius: 10px;
         overflow: hidden;
         box-shadow: 4px 4px;
         width: 99.5%;
     }

     .table-bordered {
         border: 1px solid #dee2e6;
     }

     .table th,
     .table td {
        text-align: center;
    }
