    .table {
         border-radius: 10px;
         overflow: hidden;
         box-shadow: 4px 4px;
     }

     .table-bordered {
         border: 1px solid #dee2e6;
     }

     .table th,
     .table td {
        text-align: center;
    }

     .alert {
        animation: fadeOut 10s forwards;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }

    .modal-header {
        background-color: black;
        color: white;
        border-bottom: 1px solid #444;
     }

     .modal-header .btn-close {
        filter: invert(1);
     }
      .custom-textarea {
             text-align: left;
             padding: 10px;
         }
